.separator{
  margin-top: 3rem;
}
.heading{
  width: 50rem;
  margin-inline: auto;
}

.team-container {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.team-member {
    background-color: #ffffffde;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 70%;
    text-align: left;
    display: flex; 
    box-shadow: 0 0 50px #222;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #fff;
}

.team-member img:hover {
    box-shadow: 0 0 10px #222;
}

.team-member p {
    margin: 10px 10px 20px 0;
    text-transform: none;
}

.team-member-details {
    flex-grow: 1; 
}

.social-links a {
    text-decoration: none;
    color: #0557a4;
    margin-top: 2rem;
    font-weight: bolder;
    margin: 10px;
}
.social-links a:hover {
    color: #3595F1;
    font-size: 2rem;
}
.social-links a:hover i{
    font-size: 2.5rem;
}

@media (max-width: 991px) {
    .team-member{
        width: 90%;
    }
    .heading{
        width: 35rem;
      }
      
}
@media (max-width: 796px) {
    .team-member{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
    }
    .team-member img{
        grid-template-rows: 1/2;
        width: 105px;
        height: 105px;
        margin-bottom: 5rem;
    }
    .team-member img, .team-member h2, .team-member p, .team-member .social-links{
        margin-inline: auto;
        display: flex;
        justify-content: center;
    }
    .team-member-details{
        grid-template-rows: 2/3;
    }
    .social-links{
        font-size: 2.5rem;
    }
    .social-links a:hover {
        font-size: 2.8rem;
    }
    .social-links a:hover i{
        font-size: 3.3rem;
    }    
}