/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

body {
  background: #100f0f;
  background: linear-gradient(rgba(0, 44, 101, 0.25), rgba(0, 44, 101, 0.25)), url(../images/wp8623049.webp) no-repeat;
  background-size: cover;
  min-height: 100vh;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  color: #fff;
  background: #100f0f;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, #3595F1 93%, transparent 90%);
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  transform: scale(1.1);
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  margin-top: 5.5rem;
}

.home .slide {
  min-height: 78vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
}

.home .slide .content {
  width: 60rem;
}

.home .slide .content span {
  font-size: 2.2rem;
  color: #3595F1;
  display: inline-block;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.93);
}

.home .slide .content span:first-child {
  color: #fff;
  display: inline;
}

.home .slide .content h3 {
  font-size: 5rem;
  color: #fff;
  padding: 1rem 0;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.93);
}

.home .slide .content h3 #usernameHere {
  font-size: 5rem;
  color: #3595F1;
  padding: 1rem 0;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.93);
}

.home .slide .content p {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.93);
}

.home .side-content {
  width: 40rem;
  position: absolute;
  right: 15%;
  z-index: -10;
}

.home .side-content img {
  width: 100%;
  object-fit: cover;
}

.features .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
  gap: 1rem;
}

.features .box-container .box {
  background: linear-gradient(130deg, #18191a 97%, transparent 95%);
}

.features .box-container .box.second {
  display: flex;
  flex-flow: column;
}

.features .box-container .box:hover {
  background: linear-gradient(130deg, #2a2c2e 97%, transparent 95%);
}

.features .box-container .box:hover .image img {
  transform: scale(1.1);
}

.features .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}

.features .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.features .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.features .box-container .box .content img {
  height: 9rem;
  margin-bottom: 1rem;
  filter: invert(1);
}

.features .box-container .box .content h3 {
  font-size: 2rem;
  color: #3595F1;
}

.features .box-container .box .content p {
  line-height: 2;
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/project.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.banner .logo {
  font-size: 3rem;
}

.banner .banner-img {
  width: 130px;
  text-align: center;
  margin: auto;
  padding: 0;
  display: block;
}

.banner h3 {
  padding-top: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.banner p {
  text-transform: none;
  margin: 1rem auto;
  max-width: 60rem;
  font-size: 2rem;
  font-weight: bolder;
  color: #aaa;
  line-height: 2;
}

@media (max-width:1280px) {
  .home aside.side-content {
    right: 2%;
  }
}

@media (max-width:1057px) {
  .home aside.side-content {
    opacity: 60%;
    position: relative;
    margin: auto;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  .home .slide {
    min-height: 60vh;
    padding: 2rem 5%;
  }

  .home .slide .content {
    width: 50rem;
  }

  .home .slide .content h3 {
    font-size: 4rem;
  }

  .home aside.side-content {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 30rem;
  }
}

@media (max-width: 796px) {
  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .features .box-container {
    gap: 2rem;
  }

  .credit {
    margin-bottom: 7rem;
  }
  main{
    margin-top: 8rem;
  }
  .home aside.side-content{
    top: 40%
  }
}

@media (max-width: 450px) {
  html {
    font-size: 51%;
  }
}