body{
  background: #101318;
  min-height: unset;
}

main {
  height: calc(100vh - (7rem + 100px));
	margin: 0 auto;
	font-size: 14px;
	line-height: 24px;
	background:#101318;
} 

div,p,input,ul,li,h1,h2,h3,h4 {
	height: auto;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

li {
	list-style: none;
}

.content{
	width:1200px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	margin-top:100px;
	position:relative;
	}
.dlbox{
	width:400px;
	height:580px;
	margin:0 auto;
	margin-bottom:100px;
	}
.dltx{
	width:180px;
	height:180px;
	margin:0 auto;
	margin-bottom:10px;
	}
.dltx img {
  border: 0;
	margin: 0;
	padding: 0;
  width: 100%;
}
.dlbox h1{
	height:60px;
	line-height:60px;
	font-weight:normal;
	font-size:22px;
	color:#dfe1e2;
	}
.dlbox input{
	width:390px;
	height:50px;
	line-height:50px;
	border:1px solid #2a2d32;
	background:#202328;
	border-radius:5px;
	margin-bottom:10px;
	outline:none;
	color:#FFF;
	padding-left:15px;
	font-size:18px;
	}
.dlbox input:focus{
  box-shadow: 0 0 5px 0px #000;
  background: rgb(51, 58, 69)
  }
.dlbox button{
	width:390px;
	height:53px;
	line-height:53px;
	border:none;
	background:#6693f0;
	text-align:center;
	color:#FFF;
	font-size:20px;
	margin-bottom:15px;
	border-radius:5px;
	margin-top:30px;
	}
.dlbox button:focus{
  font-weight: bold;
  font-size: 23px;
  color: #000;
	background:#a0bfff;
  box-shadow: 0 0 8px 1px #000;
}
.dlbox p{
	text-align:center;
	}
.dlbox a{
	height:40px;
	line-height:40px;
	font-size:20px;
	color:#dfe1e2;
	text-decoration:none;
	}
.dlbox a:hover,  .zcbox a:hover{
  color: #6693f0;
  text-shadow: 1px 1px 3px #111;
  font-weight: bold;
}
.zcbox{
	width:100px;
	height:40px;
	line-height:40px;
	position:absolute;
	right:30px;
	text-align:right;
	}
.zcbox a{
	color:#FFF;
  font-size: 2rem;
	}
.zcbox img{
	float:right;
	margin-left:10px;
	margin-top: 13px;
	}

@media (max-width:1280px) {
  .content{
    width: 90%;
  }
}

@media (max-width: 796px) {
  main {
    height: calc(100% - (7rem + 7rem + 100px));
  }
  .content{
    width: 99%;
  }
  .zcbox{
    width: unset;
  }
  .zcbox a{
    font-size: 3rem;
  }
  .dlbox{
    width: 86%;
    margin-top: 5.5rem;
  }
  .dlbox input, .dlbox button{
    width: 100%;
  }
}