.fa-lock {
    margin-top: 100px;
    padding-bottom: 100px;
}

#heading {
    display: flex;
    justify-content: center;

}

.head {
    display: inline;
}

#manager {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 5%;
}

#plus {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 3rem;
}

#account,
#show {
    color: black;
    font-size: x-large;
}


#account {
    grid-area: account;
    
}

#show {
    grid-area: show;
}

#username {
    grid-area: username;
}

#pass {
    grid-area: pass;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

#account1 {
    margin-left: 20%;
    margin-right: 20%;
    background-color: aliceblue;
    opacity: 0.7;

}

.bottom input {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    background-color: #3595F1;
    height: 30px;
    font-family: monospace;
    font-size: x-large;
    /* border-radius: 5px; */
    padding: 10px;
    color: aliceblue;
}

::placeholder {
    color: white;
    opacity: 1;
}

#show {
    background-color: grey;
    opacity: 0.7;
    padding: 1%;
    /* border-radius: 5px; */
    color: white;
}

.newAccount,
#saved {

    width: 30%;
    margin-left: 35%;
    background-color: aliceblue;
    /* border-radius: 5px; */
    box-shadow: 5px 10px 10px black;
    position: absolute;
    top: 18rem;
    text-align: center;
}

#saved>h1 {
    margin-top: 5%;
    font-size: xx-large;
    text-align: center;
}

#saved>i {
    font-size: 15em;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.newAccount>h1,
i {
    color: white;

}

.topAccount {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.topAccount>h1 {
    font-size: 3em;

}

#squareCross {
    font-size: xx-large;
    float: right;
    margin-top: 2%;
}

.inputs input {
    width: 80%;
    margin-bottom: 4%;
    background-color: #3595F1;
    height: 30px;
    font-family: monospace;
    font-size: x-large;
    /* border-radius: 5px; */
    padding: 10px;
    color: aliceblue;
    margin-top: 2%;
    height:45px
}

#saveBtn {
    padding: 1rem 5rem;
    border: 0.05rem solid #3595F1;
    background: transparent;
    color: #3595F1;
    transition: all .5s;
    font-size: 2rem;
    text-align: center;
}


#saveBtn:hover {
    background-color: #3595F1;
    color: #ffffff;
}

.passWord {
    display: flex;
    justify-content: space-around;
}


#ok {
    width: 20%;
    background-color: #094e8e;
    padding-top: none;
    font-size: x-large;
    height: 40px;
    color: white;
    /* border-radius: 5px; */
    margin-bottom: 5%;
}

#squareCross {
    position: absolute !important;
    top: 0px;
    right: 10px;
}
#account1:hover{
    border: 6px solid #13FDFC;
    transition: all 0.4s ease 0s;;
}
#infoOfUser{
    padding: 20px;
    font-weight: bold;
}
#website, #username, #pass{
    color: #094e8e;
   
}
.bottom{
    background: rgba(43, 108, 126, 0.2);
}