main{
    flex: 1;
    color: #fff;
    padding: 0 9%;
    margin: 15rem auto;
    max-width:100rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h3{
    width: 100%;
    display: flex;
    padding: 2rem 0rem;
    justify-content: center;
    align-items: center;
    font-size:3rem;
    letter-spacing: 0.3rem;
    font-weight: normal;
    margin-bottom: 5rem;
}

main h3 img{
    width:6rem;
    height: 100%;
    object-fit: cover;
    margin-right: 2rem;
}

main .search_box{
    position: relative;
    margin:3rem auto;
    width: 100%;
    height:6rem;
    border: 0.3rem solid #3595F1;
}

main .search_box span{
    position: absolute;
    right:2rem;
    top: 50%;
    transform: translateY(-50%);
}

main .search_box span svg{
    width:3rem;
    height: auto;
}

main .search_box input{
    width: 100%;
    height: 100%;
    text-indent: 2rem;
    font-size: 1.7rem;
    color: #fff;
    background: transparent;
}

main .search_box input::placeholder{
    font-size: 1.7rem;
    color: #ccc;
}


main .btnList{
    display: flex;
    justify-content: center;
}

main .btn{
    width: 40%;
    padding:1rem 5rem;
    border:0.05rem solid #3595F1;
    background: transparent;
    color: #3595F1;
    translate:all .3s;
}

main .btn:hover{
    color: #fff;
    background: #3595F1;
}

main .btn:hover{
    transform: scale(1.0);
}

main .btn:nth-child(1){
    margin-right: 2rem;
}

main .result{
    position: relative;
    width: 100%;
}

main .result>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(53, 149, 241, .3);
    margin:2rem 0rem 5rem;
    font-size:3rem;
    padding: 1rem 0rem;
    color: #3595F1;
    min-height:200px;

}

main .result>div:nth-child(1){
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .result>div svg{
    width:10rem;
    height: 10rem;
}


main .result>div p{
    font-size: 1rem;
    color: #eee;
    font-size: 1.7rem;
    margin: 2rem 0rem;
}

main .result>div.safe{
    display: none;
}

main .result>div.unsafe{
    display: none;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}