.fa-lock {
    margin-top: 100px;
    padding-bottom: 100px;
}

#heading {
    display: flex;
    justify-content: center;

}

.head {
    display: inline;
}

#manager {
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 5%;
}
#generate{
    background-color: rgba(60, 218, 78, 0.52);
}

#plus {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 6rem;
}

.plus{
    color: #3596f1;
}

.plus:hover{
    color: #6cb0ef;
}

.account-wrap {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.account-wrap i{
    font-size: 5rem;
}


#account {
    grid-area: account;
    
}

.showButton {
    grid-area: show;
    font-size: x-large;
}

#username {
    grid-area: username;
}

#pass {
    grid-area: pass;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

#account1 {
    margin-left: 20%;
    margin-right: 20%;
    background: linear-gradient(130deg, #cce6ff 97%, transparent 95%);
    /* background-color: aliceblue; */
    opacity: 0.7;

}

.bottom input[type='text'] {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    background-color: #3595F1;
    height: 30px;
    font-family: monospace;
    font-size: x-large;
    /* border-radius: 5px; */
    padding: 10px;
    color: aliceblue;
}

.bottom input[type='button']{
    font-size: large;
    padding: 5px;
    justify-content: center;
    /* margin-left: 25%; */
    /* display: flex;
    justify-content: center; */
}
/* #edit{
     margin-left: 45%; 
} */
::placeholder {
    color: white;
    opacity: 1;
}

.newAccount {
    width: 60%;
    margin-left: 0px;
    background-color: #1e232c;
    border-radius: 5px;
    box-shadow: 5px 10px 10px black;
    position: absolute;
    right: 20%;
    top: 18rem;
    text-align: center;
}

.heading {
    margin-top: 15vh;
    max-width: 60%;
    margin-left: 20%;
}
.heading::before {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 0.1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
  }

#saved , .saved {
    width: 30%;
    margin-left: 35%;
    background-color: aliceblue;
    /* border-radius: 5px; */
    box-shadow: 5px 10px 10px black;
    position: absolute;
    top: 18rem;
    /* width: 80%; */
    text-align: center;
}

#saved, .saved>h1 {
    margin-top: 5%;
    font-size: xx-large;
    text-align: center;
}

.saved>p {
    font-size: large;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
#saved>i {
    font-size: 15rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.saved>i {
    font-size: 10em;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.topAccount {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.topAccount>h1 {
    font-size: 3em;

}

#squareCross {
    font-size: xx-large;
    float: right;
    margin-top: 2%;
}

.inputs input {
    width: 80%;
    margin-bottom: 4%;
    background-color: #3595F1;
    height: 30px;
    font-family: monospace;
    font-size: x-large;
    /* border-radius: 5px; */
    padding: 10px;
    color: aliceblue;
    margin-top: 2%;
    height:45px
}

#saveBtn {
    padding: 1rem 5rem;
    border: 0.05rem solid #3595F1;
    background: transparent;
    color: #3595F1;
    transition: all .5s;
    font-size: 2rem;
    text-align: center;
}


#saveBtn:hover {
    background-color: #3595F1;
    color: #ffffff;
}

.passWord {
    display: flex;
    justify-content: space-around;
}


#ok {
    width: 20%;
    background-color: #094e8e;
    padding-top: none;
    font-size: x-large;
    height: 40px;
    color: white;
    /* border-radius: 5px; */
    margin-bottom: 5%;
}

#squareCross {
    position: absolute !important;
    top: 0px;
    right: 10px;
}
#account1:hover{
    /* border: 6px solid #13FDFC; */
    transition: all 0.4s ease 0s;;
}
#infoOfUser{
    padding: 20px;
    font-weight: bold;
}
#website, #username, #pass{
    color: #094e8e;
   
}
.bottom{
    background: linear-gradient(130deg, rgba(43, 108, 126, 0.2) 97%, transparent 95%);
    padding: 15px;
}
.editBtn{
    /* padding: 0px; */
    background-color:rgba(11, 202, 255, 0.2)
}
.remove{
    background: rgba(218, 60, 91, 0.52);
}
.remove:hover, .editBtn:hover, .saveBtn:hover{
    border: solid black 2px;
}

.account-wrap{
    margin: auto 1.5rem;
}
.top:hover .account-wrap {
    color: #3595F1;
}

.btn{
    margin: 1rem;
}

.bottom h1{
    cursor: pointer;
}
  
  .tooltiptext {
    visibility: hidden;
    width: 13rem;
    height: 3rem;
    text-align: center;
    border-radius: 6px;
    top: 10px;
    left: 150%;
    margin-left: -40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    left: 0;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

@media (max-width: 796px) {
    .credit {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

.testdiv{
    width: 85%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(53, 149, 241, .3);
    margin:2rem auto 5rem;
    font-size:2.8rem;
    text-align: center;
    padding: 3rem;
    color: #3595F1;
    min-height:200px;

}
